.expbtn {
    display: inline-block;
    font-size: 1.5em;
    color: #2b1055;
    padding: 0.3em 1.3em;
    margin: none;
    border-radius: 1.2em;
    border: none;
    outline: none;
    background: #fff;
    cursor: pointer;
    z-index: 9;
    transform: translateY(100px);
}