.wrapper {
  height: 100vh;
  background-color: var(--primary-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #fff;
  margin-top: 0.5em;
  font-family: "Eurostile";
  font-weight: 500;
  font-size: 3.5em;
  letter-spacing: 0.1em;
  transform: scaleX(1.1);
  transform-origin: center center;
}

.subtitle {
  color: #fff;
  margin-bottom: 0.5em;
  font-family: "Eurostile";
  font-weight: 400;
  font-size: 2em;
  letter-spacing: 0.1em;
  transform: scaleX(1.1);
  transform-origin: center center;
}

.countdown_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: var(--secondary-color);
  padding: 2em 0;
}

.countdown_grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 4em;
  align-items: center;
  justify-content: center;
}

.countdown_number,
.countdown_separator {
  font-family: "Eurostile";
  font-weight: 500;
  font-size: 9em;
  transform: scaleX(1.2);
}

.countdown_number {
  text-align: center;
}

.countdown_separator {
  text-align: center;
}

.countdown_legend {
  color: var(--error-color);
  font-family: "Eurostile";
  font-weight: 500;
  font-size: 2em;
  letter-spacing: 0.1em;
  transform: scaleX(1.1);
  text-align: center;
}

.graduated_banner {
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--error-color);
  animation: graduated 75ms steps(1, end) forwards;
}

.graduated_text {
  font-family: "Eurostile";
  font-weight: 500;
  font-size: 7em;
  color: #fff;
  transform: scaleX(1.2) translateY(0.1em);
  transform-origin: center center;
}

@keyframes graduated {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 0.5;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
