@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100,200,300,400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #7597de);
    margin: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.social-menu ul {
    position: absolute;
    top: 55%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}

.social-menu ul li .fa {
    color: #2b1055;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}

.social-menu ul li .fa:hover {
    color: #ffffff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
}

.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
    background-color: #5c3675;
}

.popup {
    display: none;
    position: fixed;
    bottom: -100px;
    right: 20px;
    padding: 15px;
    background-color: #2b1055;
    color: #fff;
    border-radius: 10px;
    z-index: 9999;
    font-size: 18px;
    width: auto;
    text-align: center;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        bottom: -100px;
    }
    to {
        bottom: 20px;
    }
}
@keyframes slideOut {
    from {
        bottom: 20px;
    }
    to {
        bottom: -100px;
    }
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul li {
    list-style: none;
    margin-left: 20px;
}

.nav-bar ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

.nav-bar ul li a:hover , 
.nav-bar ul li a.active {
    background: #fff;
    color: #2b1055;
}

.background{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}

.background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.background img#moon {
    mix-blend-mode: screen;
}

.background img#mountains_front {
    z-index: 10;
    max-width: 100%;
    max-height: 100%;
}

.title_card {
    position: absolute;
    justify-content: center;
    top: 31vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title_card #title {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    white-space: nowrap;
    font-size: 8vw;
    z-index: 9;
}

.title_card #subtext {
    font-family : 'Poppins', sans-serif;
    font-weight: 200;
    color: #fff;
    white-space: nowrap;
    font-size: 4vw;
    z-index: 9;
}

.fade-in {
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
  
#title {
    animation-name: fadeInTitle;
    animation-delay: 0.5s; /* Delay the animation for the title */
}
  
#subtext {
    animation-name: fadeInSubtext;
    animation-delay: 1.5s; /* Delay the animation for the subtext */
}
  
@keyframes fadeInTitle {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
@keyframes fadeInSubtext {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  

.btn {
    height: 40px;
    position: absolute;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.about {
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.about h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.about p {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    color: #fff;
}

.skills {
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.skills_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 0rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.skills_grid .column h1 {
    color: #fff;
}

.skills_grid .column p {
    color: #fff;
}

.column {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #5c3675;
    margin: 10px;
}

.column img {
    width: 50px;
    height: 50px;
}

@media (max-width: 600px) {
    .columns {
        flex-wrap: wrap;
    }
}

.topbtn {
    display:none;
    position: fixed;
    bottom: -40px;
    right: 20px;
    padding: 10px;
    background-color: #6279be;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 9999;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 24px;
    animation: slideOut 1s forwards;
}

.topbtn.load {
    display: block;
}

.topbtn.show {
    bottom: 20px;
    animation: slideIn 1s forwards;
}
