.skills {
    width: 100%;
    position: relative;
    padding: 100px;
    background-color: #210b2a;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.skills h2 {
    font-size: 5vw;
    padding-bottom: 20px;
}

.skills_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.box {
    height: 100px;
    width: 100px;
    border: 2px solid #fff;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box:nth-child(1).fadeIn {
    transition-delay: 200ms;
}

.box:nth-child(2).fadeIn {
    transition-delay: 300ms;
}

.box:nth-child(3).fadeIn {
    transition-delay: 400ms;
}

.box:nth-child(4).fadeIn {
    transition-delay: 500ms;
}

.box:nth-child(5).fadeIn {
    transition-delay: 600ms;
}

.box:nth-child(6).fadeIn {
    transition-delay: 700ms;
}

.box:nth-child(7).fadeIn {
    transition-delay: 800ms;
}

.box:nth-child(8).fadeIn {
    transition-delay: 900ms;
}

.box:nth-child(9).fadeIn {
    transition-delay: 1000ms;
}

.box:nth-child(10).fadeIn {
  transition-delay: 1100ms;
}

.box:nth-child(11).fadeIn {
  transition-delay: 1200ms;
}

.box img {
    max-height: 60%;
    max-width: 60%;
}

.box p {
    color: #fff;
    padding-top: 5px;
}

@media screen and (max-width: 1150px) {
    .skills {
        padding: 6vw;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    .skills h2 {
        font-size: 12vw;
    }
    .box {
        height: 25vw;
        width: 25vw;
    }
}
