/* Work & Timeline section */

.work {
    margin: 0;
    color: #fff;
    background-color: #1c0522;
    background-size: cover;
    padding: 2rem;
}
  
.work::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
    position: fixed;
}
  
.work * {
    margin: 0;
    padding: 0;
}
  
.work h1 {
    font-size: 2em;
    padding-bottom: 20px;
}

.work h2 {
  margin-bottom: 0.5em;
}

/* .work_title {
  text-align: left;
} */

.work_title h1 {
  font-size: 5em;
}

.timeline {
  margin: 5em auto;
  max-width: 34.15em;
}

.checkpoint {
  max-width: 34em;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
}

.checkpoint div {
  border: 2px solid #fff;
  border-radius: 1em;
  padding: 1.5em;
}

.checkpoint p {
  line-height: 27px;
  color: #fff;
}

.checkpoint:nth-child(odd) {
  border-left: 3px solid #fff;
  padding-left: 3em;
  transform: translateX(17em);
}

.checkpoint:nth-child(even) {
  border-right: 3px solid #fff;
  padding-right: 3em;
  transform: translateX(calc(-17em + 3px));
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
  content: '';
  background: #fff;
  width: 3em;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before {
  left: 0;
}

.checkpoint:nth-child(even)::before {
  right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
  content: '';
  background: #fff;
  box-shadow: 0 0 0.5em #0d71fc;
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
  left: -0.5em;
}

.checkpoint:nth-child(even) div::before {
  right: -0.5em;
}

@media (max-width: 1150px) {
  .timeline {
    width: 80vw;
  }
  .timeline .checkpoint {
    width: 100%;
    transform: none;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }

  .timeline .checkpoint::before {
    display: none;
  }

  .timeline .checkpoint div::before {
    display: none;
  }
}