#lockscreen_wrapper {
  background-color: var(--primary-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#text_wrapper {
  background-color: var(--secondary-color);
  height: calc(2.5 * var(--lockscreen-font-size));
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#text_input {
  all: unset;
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: text;
}

#display_text {
  letter-spacing: var(--lockscreen-font-size);
  font-size: var(--lockscreen-font-size);
  color: #333;
  pointer-events: none;
  transform: translateY(calc(0.1 * var(--lockscreen-font-size))) scaleX(1.2);
  transform-origin: center center;
}

.cursor::after {
  content: "_";
  color: #333;
  transform: scaleX(1.5);
  display: inline-block;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: #000000;
  }

  50% {
    color: #ffffff;
  }
}
