.loading_wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 20px;
  height: 20px;
  background-color: purple;
  margin: 5px;
  border-radius: 50%;
  animation: flux linear 1s;
}

@keyframes flux {
  0% {
    display: none;
  }
  20% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(0.4);
  }
  60% {
    transform: scale(0.6);
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
