
.projects {
    margin:0;
    background: #493681;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10vh;
}

.projects h1 {
  font-size: 5em;
}

.projects * {
  box-sizing: border-box;
}

.projects p {
  font-size: 1em;
  line-height: 23px;
}

.projects h2 {
  margin: 0;
}

.skewed_card {
  width: 45em;
  display: flex;
  background: #1c0522;
  margin: 2em 0;
  box-shadow: 0 0 15px #1c0522;
}

.card_text {
  padding: 1.5em;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

.projects a {
  color: #fff;
  text-decoration: none;
}

.card_img {
  width: 50%;
  height: 17em;
  position: relative;
  overflow: hidden;
}

.card_img::before {
  content: '';
  position: absolute;
  left: -6.1em;
  top: 50%;
  transform: translateY(-50%) rotate(20deg);
  background: #1c0522;
  width: 40%;
  height: 140%;
  box-shadow: 0 0 20px #1c0522;
}

.skewed_left .card_img::before {
  transform: translateY(-50%) rotate(-20deg);
  left: initial;
  right: -6.1em;
}

img {
  width: 130%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 750px) {
  .projects h1 {
    padding-top: 5vh;
    font-size: 5em;
  }

  .skewed_card {
    display: block;
    width: 20em;
  }

  .card_img, .card_text {
    width: 100%;
  }

  img { 
    width: 160%;
  }

  .skewed_card .card_img::before {
    width: 120%;
    height: 40%;
    top: -5em;
    left: 50%;
    transform: translateX(-50%) rotate(10deg);
  }

  .skewed_left .card_img::before {
    transform: translateX(-50%) rotate(-10deg);
    top: initial;
    bottom: -5em;
  }
}