/* Contact me*/

.contact {
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #210b2a;
  padding-left: 10%;
  padding-top: 12%;
}
  
.contact::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #5c3675;
}

.contact .contact_container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  max-width: 85%;
  display: flex;
  z-index: 1000;
}

.contact_container .form_container {
  position: absolute;
  padding: 70px 50px;
  background-color: #fff;
  margin-left: 150px;
  padding-left: 250px;
  width: calc(100% - 150px);
  height: 100%;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

.formBox {
  display: flex;
  flex-wrap: wrap;
}

.formBox .inputBox {
  margin-bottom: 20px;
  position: relative;
  flex: 1;
  margin-right: 10px;
}

.formBox input[type="text"],
.formBox textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc; 
  outline: none; 
  color: #2d2d2d;
  font-size: 1em;
}

.formBox textarea {
  resize: vertical;
}

.formBox span {
  display: block;
  margin-top: 5px;
  font-size: 18px;
  color: #777;
}

.inputBox.w100 {
  flex: 1 100%;
  margin-right: 10px;
}

.inputBox.w33 {
  flex: 1;
  margin-right: 10px;
}

.formBox button {
  width: 125px;
  height: 54px;
  font-size: 1.5em;
  border-style: none;
  background-color: #2b1055;
  cursor: pointer;
  transition: 0.5s;
}

.formBox button:hover {
  background-color: #5c3675;
}