@import "./fonts.css";

:root {
  --lockscreen-font-size: 2rem;
  --primary-color: #72a7ab;
  --secondary-color: #d7f1f1;
  --error-color: #e60004;
  --awards-color: #ffbf00;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  min-width: 320px;
}
