@import 'About/about.css';
@import 'Animations/animations.css';
@import 'Work/timeline.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100,200,300,400,500,600,700&display=swap");
@keyframes slideIn {
  from {
    bottom: -100px;
  }
  to {
    bottom: 20px;
  }
}
@keyframes slideOut {
  from {
    bottom: 20px;
  }
  to {
    bottom: -100px;
  }
}
.popup {
  display: none;
  position: fixed;
  bottom: -100px;
  right: 20px;
  padding: 15px;
  background-color: #2b1055;
  color: #fff;
  border-radius: 10px;
  z-index: 9999;
  font-size: 18px;
  width: auto;
  text-align: center;
  animation: slideIn 0.5s forwards;
}

/* Social Menu */
.social-menu ul {
  position: absolute;
  top: 55%;
  left: 10%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
}

.social-menu ul li {
  list-style: none;
  margin: 0 10px;
  cursor: pointer;
}

.social-menu ul li .fa {
  color: #2b1055;
  font-size: 25px;
  line-height: 50px;
  transition: 0.5s;
}

.social-menu ul li .fa:hover {
  color: #ffffff;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
}

.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
  background-color: #5c3675;
}

/* Media queries*/
@media screen and (max-width: 480px) {
  .social-menu {
    top: 100%;
    left: 100%;
    transform: translate(50%, 50%);
  }
}
.topbtn {
  display: none;
  position: fixed;
  bottom: -40px;
  right: 20px;
  padding: 10px;
  background-color: #311a5e;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 9999;
  width: 60px;
  height: 60px;
  border-radius: 30%;
  font-size: 24px;
  animation: slideOut 1s forwards;
}

/* Hides btn until user enters about section */
.topbtn.load {
  display: block;
}

/* Slide upwards animation */
.topbtn.show {
  bottom: 20px;
  animation: slideIn 1s forwards;
}

/* Top nav-bar */
.nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar ul li {
  list-style: none;
  margin-left: 20px;
}

.nav-bar ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.nav-bar ul li a:hover,
.nav-bar ul li a.active {
  background: #fff;
  color: #2b1055;
}

@media screen and (max-width: 480px) {
  .nav-bar {
    display: none;
  }
}
/* Background pngs */
.background {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}

.background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.background img#moon {
  mix-blend-mode: screen;
}

.background img#mountains_front {
  z-index: 10;
  max-width: 100%;
  max-height: 100%;
}

.expbtn {
  display: inline-block;
  font-size: 1.5em;
  color: #2b1055;
  padding: 0.3em 1.3em;
  margin: none;
  border-radius: 1.2em;
  border: none;
  outline: none;
  background: #fff;
  cursor: pointer;
  z-index: 9;
  transform: translateY(100px);
}

/* Title card */
.title_card {
  position: absolute;
  justify-content: center;
  top: 31vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title_card #title {
  color: #fff;
  white-space: nowrap;
  font-size: 8vw;
  z-index: 9;
}

.title_card #subtext {
  font-weight: 200;
  color: #fff;
  white-space: nowrap;
  font-size: 4vw;
  z-index: 9;
}

@media screen and (max-width: 480px) {
  .title_card {
    top: 35vh;
  }
  .title_card #title {
    font-size: 15vw;
  }
  .title_card #subtext {
    font-size: 8vw;
  }
}
#title {
  animation-name: fadeIn;
  animation-delay: 0.5s;
}

#subtext {
  animation-name: fadeIn;
  animation-delay: 1.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.skills {
  width: 100%;
  position: relative;
  padding: 100px;
  background-color: #210b2a;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.skills h2 {
  font-size: 5vw;
  padding-bottom: 20px;
}

.skills_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.box {
  height: 100px;
  width: 100px;
  border: 2px solid #fff;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box:nth-child(1).fadeIn {
  transition-delay: 200ms;
}

.box:nth-child(2).fadeIn {
  transition-delay: 300ms;
}

.box:nth-child(3).fadeIn {
  transition-delay: 400ms;
}

.box:nth-child(4).fadeIn {
  transition-delay: 500ms;
}

.box:nth-child(5).fadeIn {
  transition-delay: 600ms;
}

.box:nth-child(6).fadeIn {
  transition-delay: 700ms;
}

.box:nth-child(7).fadeIn {
  transition-delay: 800ms;
}

.box:nth-child(8).fadeIn {
  transition-delay: 900ms;
}

.box img {
  max-height: 60%;
  max-width: 60%;
}

.box p {
  color: #fff;
  padding-top: 5px;
}

@media screen and (max-width: 480px) {
  .skills {
    padding: 6vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  .skills h2 {
    font-size: 12vw;
  }
  .box {
    height: 25vw;
    width: 25vw;
  }
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(#2b1055, #7597de);
  margin: 0;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

/*# sourceMappingURL=styles.css.map */
